@using ToDoApplication.ViewModels;
@using static ToDoApplication.ViewModels.UserRoles;
@model List<UserRolesViewModel>

@{
    ViewData["Title"] = "Manage Users";
}

<h1>Manage Users</h1>
@using (Html.BeginForm("Edit", "ManageUsers", FormMethod.Post))
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Email Confirmed?</th>
                <th>Access Failed Count</th>
                <th>Role</th>
                <th>Is Active?</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].User.Id</td>
                    <td>@Model[i].User.UserName</td>
                    <td>
                        @Html.HiddenFor(m => Model[i].User.Id)
                        @Html.TextBoxFor(m => Model[i].User.Email, new { Name = "Model[" + i + "].Email" })
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => Model[i].User.EmailConfirmed, new { Name = "Model[" + i + "].IsEmailConfirmed" })
                    </td>
                    <td>@Model[i].User.AccessFailedCount</td>
                    <td>
                        @Html.DropDownListFor(u => Model[i].Role, new List<SelectListItem>
                            {
                            new SelectListItem { Text = "User", Value = UserRoleEnum.User.ToString() },
                            new SelectListItem { Text = "Admin", Value = UserRoleEnum.Admin.ToString() },
                            new SelectListItem { Text = "Moderator", Value = UserRoleEnum.Moderator.ToString() }
                            })
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => Model[i].User.IsActive, new { Name = "Model[" + i + "].IsActive" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit">Save</button>
}
