@model ToDoApplication.Models.TaskToDo
@{
    ViewData["Title"] = "details";
}

<h1>Task</h1>
<p>Nazwa: @Model.Name</p>
<p>Opis: @Model.Description</p>
<p>Czas: @Model.Time</p>
<p>Data: @Model.Date</p>
<p>Categoria: @Model.Category</p>
<p>Status: @Model.Status</p>