@using System.Globalization;
@model dynamic
@{
    ViewData["Title"] = "details";
}

<h1>Task</h1>
<p>Nazwa: @Model.Name</p>
<p>Opis: @Model.Description</p>
<p>Czas: @Model.Time</p>
<p>Data: @Model.Date</p>
<p>Categoria: @Model.Category</p>
<p>Status: @Model.Status</p>


@{
    DateOnly inputDate = @Model.Date;
    string outputDate = inputDate.ToString("yyyy-MM-dd");
    TimeOnly inputTime = @Model.Time;
    string outputTime = inputTime.ToString("HH" + ":00");
}

<a href="@Url.Action("Index","WeatherApi",new {location="olsztyn",date=outputDate, time=outputTime})" class="text-reset text-decoration-none"><b>Weather</b></a>
