@model ToDoApplication.ViewModels.TaskDetailsViewModel

@{
    ViewData["Title"] = "details";
}


<div class="container">
    <table class="table table-striped">
        <caption>Task details</caption>
        <tbody>
            <tr>
                <th scope="row">Name:</th>
                <td>@Model.TaskToDo.Name</td>
            </tr>
            <tr>
                <th scope="row">Description:</th>
                <td>@Model.TaskToDo.Description</td>
            </tr>
            <tr>
                <th scope="row">Time:</th>
                <td>@Model.TaskToDo.Time</td>
            </tr>
            <tr>
                <th scope="row">Data:</th>
                <td>@Model.TaskToDo.Date</td>
            </tr>
            <tr>
                <th scope="row">Category:</th>
                <td>@Model.TaskToDo.Category</td>
            </tr>
            <tr>
                <th scope="row">Status:</th>
                <td>@Model.TaskToDo.Status</td>
            </tr>
        </tbody>
    </table>
</div>

@{
    if (Model.TaskToDo.Category == Category.ShoppingList)
    {
        <div class="container">
            <table class="table table-striped">
                <caption>Shopping list</caption>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.ShoppingProducts)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Quantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

@{
    DateOnly inputDate = @Model.TaskToDo.Date;
    string outputDate = inputDate.ToString("yyyy-MM-dd");
    TimeOnly inputTime = @Model.TaskToDo.Time;
    string outputTime = inputTime.ToString("HH" + ":00");
}


@using (Html.BeginForm("Index", "WeatherApi", FormMethod.Get))
{
    @Html.Hidden("date", outputDate)
    @Html.Hidden("time", outputTime)
    <div class="form-group">
        @Html.Label("location", "Location:", new { @class = "col-sm-3 col-form-label px-0" })
        <div class="col-sm-4 px-0">
            @Html.TextBox("location", "", new { @class = "form-control form-control-sm" })
        </div>
        <div class="col-sm-3 px-0">
            <button type="button" class="btn btn-secondary btn-sm" id="location-btn">Use my location</button>
            <button type="submit" class="btn btn-primary btn-sm"><b>Get weather</b></button>
        </div>
    </div>
}


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdwkDGJIILpflUYeX4sLihwDFLgBr0_Yk"></script>
<script src="~/js/weatherGetLocation.js" asp-append-version="true"></script>