@model ToDoApplication.Models.TaskToDo
@{

    string GetCategoryEmoji(Category category)
    {
        switch (category)
        {
            case Category.DeepWork:
                return "\U0001F4DD";
            case Category.ShallowWork:
                return "\U0001F4DA";
            case Category.Chores:
                return "\U0001F9F9";
            case Category.Learning:
                return "\U0001F393";
            case Category.MindCare:
                return "\U0001F9D0";
            case Category.BodyCare:
                return "\U0001F9D6";
            case Category.People:
                return "\U0001F465";
            case Category.Other:
                return "\U0001F4AC";
            default:
                return "";
        }
    }
    var categories = Enum.GetValues(typeof(Category))
    .Cast<Category>()
    .Select(c => new SelectListItem
            {
                Value = c.ToString(),
                Text = $"{GetCategoryEmoji(c)} {c.ToString()}"
            });


         
    DateOnly inputDate = @Model.Date;
    string outputDate = inputDate.ToString("yyyy-MM-dd");
}

<div class="AddTaskContainer">

    @using (Html.BeginForm("Edit", "TaskToDo", FormMethod.Post))
    {
        @Html.ValidationSummary()
        <div classs="row">
            <div class="col">
                @Html.HiddenFor(x => x.TaskId)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder="Name"})
            </div>
            <div class="col">
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder="Description"})
            </div>
            <div class="col">
                @Html.DropDownListFor(x => x.Category, categories, "Select Category", new { @class = "form-control" })
            </div>
            <div class="col">
                @Html.TextBoxFor(x => outputDate, new { @type = "date" , @class = "form-control" })
            </div><div class="col">
                @Html.TextBoxFor(x => x.Time, new { @type = "time" , @class = "form-control" })
            </div><div class="col">
                <button type="submit" class="btn btn-success">Edytuj taska</button>
            </div>
        </div>
    }

</div>
