@model ToDoApplication.ViewModels.ChangePasswordViewModel

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.HiddenFor(x => x.UserId)
    @Html.HiddenFor(x => x.Token)

    @Html.ValidationSummary()

    <div class="form-group">
        <label for="password">New Password</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-success">Reset Password</button>
}
